<%- include('../layout/header') %>
    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>Hi, my name is Kato</h1>
            </header>
            <div class="content">
                <p>Web Developer and Cybersecurity</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one" class="tiles">
            <article>
                <span class="image">
                    <img src="https://cdn.discordapp.com/attachments/795771950076133438/923211285494120528/chibi_avatar___megumi_kato_by_mrtapoz_kun_dcmnx23-fullview.png"
                        alt="" />
                </span>
                <header class="major">
                    <h3><a href="/komikato" class="link">Komikato</a></h3>
                    <p>Animanga Read and Watch</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="https://cdn.discordapp.com/attachments/795771950076133438/923210920241532948/194392958_310126430661719_8780827256161918201_n.jpg"
                        alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">Kato-Bot</a></h3>
                    <p>Kato Discord Bot</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="https://cdn.discordapp.com/attachments/795771950076133438/923212266214678568/trakteer-thumbnail.png"
                        alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">Trakteer Scraper</a></h3>
                    <p>Trakter Scraper, Cek Saldo, Riwayat dan Notifikasi</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="images/pic04.jpg" alt="" />
                </span>
                <header class="major">
                    <h3><a href="landing.html" class="link">Animanga Scraper Collection</a></h3>
                    <p>Otakudesu, Kusonime, Animebatchs, Komikindo & Mangabat</p>
                </header>
            </article>
        </section>

        <section id="three">
            <div class="inner">
                <header class="major">
                    <h2>See More Project</h2>
                </header>
                <ul class="actions">
                    <li><a href="/project" class="button next">Get Details</a></li>
                </ul>
            </div>
        </section>
    </div>

    <%- include('../layout/footer') %>