<!--Footer -->
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="//facebook.com/katoww/" target="_blank" class="icon brands alt fa-facebook-f"><span
                        class="label">Facebook</span></a></li>
            <li><a href="//instagram.com/naufal.faqih/" target="_blank" class="icon brands alt fa-instagram"><span
                        class="label">Instagram</span></a></li>
            <li><a href="//github.com/KatowProject" target="_blank" class="icon brands alt fa-github"><span
                        class="label">GitHub</span></a></li>
            <li><a href="//linkedin.com/in/m-naufal-faqih-29a3b1179/" target="_blank"
                    class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; KatowProject</li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>

</div>

<!--Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>

</html>